.navbar-brand img{
    width: 13%;
}
.navbar-brand img{
    width: 13%;
    }
    #contacts-table{
    max-width: 800px;
    margin: 0 auto;
    }
    #contacts-table thead{
    color: #fff;
    background-color: #007BFF;
    }
#empty-list-text{
    text-align: center;
    }
    .check-icon{
    color: #1E7E34;
    }
    .delete-icon{
    color: #BD2130;
    }
    .edit-icon{
    color: #007BFF;
    }
    .delete-btn{
    background-color: transparent;
    border:none;
    padding: 0;
    }
    /*Estilo para unico contato*/
#view-contact-container{
    max-width: 20%;
    margin:0 auto;
    }
    .bold{
    font-weight: bold;
    }
#back-link-container{
        display: block;
        width: 500px;
        margin: 30px auto;
        }
#back-link{
        border: 1px solid #00ff62;
        color: #00ff73;
        border-radius: 4px;
        padding: 5px;
        text-decoration: none;
        }
        
